.sidebar{
    margin-top: 40px;
    margin-right: 120px;
    min-width: 50%;
    position: sticky;
    top: 80px;
    z-index: 3;
    height: 65vh;
    /* border: 1px solid black; */
    text-align: center;
    padding: 10px;
    margin-left: 150px;
}
.sidebar__top{
    display: flex;
    justify-content: space-between;
}
.sidebar__info{
    display: flex;
    cursor: pointer;
}
.sidebar__info > span {
    margin-top: 6px;
    margin-left: 5px;
    font-size: 1.3rem;
}
.sidebar__extra{
    font-size: 2rem;
    size: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}
.sidebar__middle{
    display: flex;
    justify-content: space-between;
}
.sidebar__middle__info{
    display: flex;
    flex-direction: column;
    line-height: 1.4;
    margin-bottom: 30px;
    margin-top: 20px;
}
.sidebar__bottom{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.sidebar__bottom > p > strong{
    margin-bottom: 20px;
    font-size: 1.2rem;
}
.sidebar__bio{
    margin-top: 10px;
    align-items: flex-end;
    text-align: left;
}
.sidebar__copyright{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    line-height: 1.4;
    font-size: 12px;
    letter-spacing: 1.1px;
    color: rgb(211,211,211);
}
hr {
    width: 60%;
    margin-top: 20px;
    margin-bottom: 10px;
}






















